body{
	background-color: #000;
	font-family: Poppins, sans-serif;

}

.container-2{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3vh 8vw;
}

.image{
	max-width: 40vw;
}

.heading{
	margin: 8vh 0;
	font-family: Poppins, sans-serif;
	text-align: center;
	font-size: 50pt;
	color: #fff;
}


.citation{
	margin: 4vh 0;
	font-family: Poppins, sans-serif;
	text-align: center;
	font-size: 35pt;
	color: #fff;
}